@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Geoslab';
    src: url('assets/Geometric Slabserif 703 Bold.otf') format("opentype");
}
@font-face {
    font-family: 'Geoslablight';
    src: url('assets/Geometric Slabserif 703 Light Regular.otf') format("opentype");
}
:root{
    --deepblue: #062860;
    --phillipine: #0038a7;
    --silver: #aaa;
    --highlight: #0df;
}

*{
    font-family: Inter;
}